html {
  margin: 0;
  padding: 0; }

body {
  line-height: 1.5;
  min-height: 600px; }

body.site {
  background-color: #25afd9;
  background-image: url("../images/bg-gradient.png");
  background-repeat: repeat-x; }

a img {
  border: none; }
