@mixin border-radius($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}
@mixin softbutton {
    background-color: #dfdfdf;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f9f9f9), to(#dfdfdf));
    background: -moz-linear-gradient(#f9f9f9, #dfdfdf );
    border: 1px solid #adadad;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 14px;
    text-shadow: 0 1px 1px #FFF;
}
@mixin softbuttonhover {
    background-color: #f9f9f9;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dfdfdf), to(#f9f9f9));
    background: -moz-linear-gradient(#dfdfdf, #f9f9f9);
}
@mixin shadow($color: #333333, $distance: 0px, $spread:2px) {
  -moz-box-shadow: 0px 1px 2px $color;
  -webkit-box-shadow: $distance $distance $spread $color;
  box-shadow: 0px 1px 2px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='$color');
}

$highlighttextcolor: #FFBA3B;

body {
    font-family: 'Helvetica','Arial','sans';
}
.header {
    width: 860px;
    margin: 0 auto;
    .logo {
        float: left;
        font-family:'Permanent Marker', arial, serif;
        letter-spacing: 0.036em;
        font-size: 40px;
        margin-left: 15px;
        margin-top: 4px;
    }
    .login {
        float: right;
        font-size: 14px;
        margin-top: 12px;
        margin-right: 10px;
        a {
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
    }
}
.main-column {
    width: 800px;
    margin: 15px auto 0 auto;
    background-color: white;
    @include border-radius(4px);
    padding: 20px 30px 30px 30px;
}

.main-row {
    padding-top: 20px;
    .left {
        float: left;
        width: 400px;

        img {
            width: 350px;
            border: 5px solid #ccc;
            @include border-radius(6px);
        }
    }
    .right {
        float: right;
        width: 375px;

        .headline {
            font-size: 34px;
            font-weight: bold;
            margin-bottom: 30px;
            .highlight {
                color:$highlighttextcolor;
            }
        }
        .signup {

        }
    }
}
.border {
    margin-top: 40px;
    //border-bottom: 1px solid #eee;
}
.value-add-row {
    margin-top: 70px;
    margin-bottom: 30px;
    .value-add {
        width: 250px;
        float: left;
        text-align: center;
        .text {
            margin-top: 10px;
            font-size: 24px;
            text-align: center;
        }
    }
}
