.main-area {
  background-color: white;
  width: 400px;
  height: 200px;
  margin: 0 auto;
  padding: 20px; }
  .main-area .text {
    font-size: 30px;
    font-family: Helvetica, Arial, sans; }
  .main-area .login {
    margin-top: 20px; }
